/* padding/margin option */
html{
    scroll-behavior: smooth;
}
.g-0{
    margin: 0;
    padding: 0;
}
.pd-10{
    padding: 10% 0;
}
.pd-72{
    padding: 7% 0 2%;
}
.pd-8{
    padding: 8% 0;
}
.pt-8{
    padding-top: 8%;
}
.pb-8{
    padding-bottom: 8%;
}

.pd-84{
    padding: 8% 0 4%;
}
.pt-20{
    padding-top: 20%;
}
.pd-2010{
    padding: 20% 0 10%;
}
.pd-411{
    padding: 4% 0 11%;
}
.pd-106{
    padding: 10% 0 6%;
}

/* bg-color */
.bg-lightblue{
    background: #e1ebec;
}
.bg-dgray{
    background: #e8e7e3;
}
.naver-icon{
    font-size: 2rem;
    vertical-align: middle;
    color: #19ce60;
}

/* font option */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
.font-nanum600{
    font-family: 'NanumSquareRound';
    font-weight: 600;
    font-size: 1.2rem;
}
.font-nanum852{
    font-family: 'NanumSquareRound';
    font-weight: 600;
    font-size: 0.852rem;
    color: #333;
    margin: 0 !important;
}
.font-nanum500{
    font-family: 'NanumSquareRound';
    font-weight: 500;
    font-size: 0.852rem;
    color: #9ea1a4;
    margin: 0 !important;
}
.font-nanum25{
    font-family: 'NanumSquareRound';
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
    margin: 0 !important;
    word-break: keep-all;
}
.font-barun25bk{
    font-family: 'NanumBarunGothic';
    font-size: 2.5rem;
    font-weight: 700;
}
.font-barun25{
    font-family: 'NanumBarunGothic';
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0 !important;
    word-break: keep-all;
}
/* nav hover css */

#nav-hover:hover{
    color: rgb(89, 162, 180) !important;
}

/* floating menu */
.relative{
    position: relative;
}
.relative .floating img{
    width: 3.5%;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 50%;
    transform: translate(-50%, 585%);
    box-shadow: 8px 8px 5px rgb(197, 197, 197);
    border-radius: 50%;
}
@media(max-width:1024px) {
    .relative .floating img{
        width: 8%;
        transform: translate(-23%, 635%);
    }
}
@media(max-width:768px) {
    .relative .floating img{
        width: 9%;
        transform: translate(-23%, 773%);
    }
}
@media(max-width:540px) {
    .relative .floating img{
        width: 10%;
        transform: translate(-23%, 550%);
    }
}
@media(max-width:414px) {
    .relative .floating img{
        width: 12%;
        transform: translate(-23%, 615%);
    }
}
@media(max-width:375px) {
    .relative .floating img{
        width: 12%;
        transform: translate(-23%, 777%);
    }
}
@media(max-width:320px) {
    .relative .floating img{
        width: 14%;
        transform: translate(-23%, 515%);
    }
}
@media(max-width:280px) {
    .relative .floating img{
        width: 15%;
        transform: translate(-23%, 660%);
    }
}

/* main_banner */
.img-box img{
  width: 100%;
}



/* section_02 */

.subject_tit{
    width: 100%;
    padding: 0 0 10%;
}
.subject_tit img{
    width: 100%;
}
.subject_cur{
    width: 100%;
}

.subject_cur img{
    width: 100%;
}
@media (max-width:767px) {
    .m-pd10{
        padding: 0 20px;
    }
    
}

/* section_02 */
.bg-stripe{
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.grade_tit img{
    width: 100%;
    padding: 0 0 5%;
}
@media(max-width:767px){
    .grade_tit img{
        padding: 0 4% 5%;
    }
}
.grade_teach img{
    width:100%;
    border: 2px solid #e1ebec;
    border-radius: 5px;
    box-shadow: 12px 12px 15px rgb(197, 197, 197);
}
.element, .middle, .high{
    padding-bottom: 5%;
}
.grade_teach{
    width: 100%;
    border-radius: 10px;
    padding: 5% 5% 0% 5%;
}
/* section 03 */
/* .sad-bg{
    background-image: url(../images/6-3.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
.section04img img{
    width: 100%;
}


/* section04 */

.stop-fast-t img{
    width: 100%;
}
.stop-fast-i img{
    width: 100%;
}

/* section 05 */
.mobile-block{
    display: none;
}
@media (max-width:767px){
    .mobile-block{
        display: block;
    }
    .mobile-block img{
        width: 100%;
    }
    .web-block{
        display: none;
    }
    
    .m-pd30 {
    padding: 0 30px;
}
}

/* section 06 */
.section6 img{
    width: 100%;
}
@media (max-width: 767px){
    .section6 .angry{
        padding: 0 30px;
    }
}
/* section 07 */
.section7 img{
    width: 100%;
}
.section7 .fast-study-content{
    padding: 3rem 5rem 0;
}
@media(max-width:767px){
    .section7 .fast-study-content{
        padding: 3rem 3rem 0;
    }
}
/* section 08 */
.section8 .notice-content img{
    width: 100%;
}
@media(max-width:767px){
    .section8 .notice-content{
        padding: 0 20px;
    }
}
/* qna section */
.qna_tit span{
    width: 30px;
    height: 5px;
    background: #333;
}
.qna_tit h1{
    font-weight: 700 !important;
}

.qna_name{
    font-size: 1.25rem;
    font-weight: 600 !important;
    padding: 1% 0;
}

.school_grade .school_name{
    font-size: 1.25rem;
    font-weight: 600 !important;
    padding: 1% 0;
}

.school_grade .grade_type{
    font-size: 1.25rem;
    font-weight: 600 !important;
    padding: 1% 0;
}

.want_subject{
    font-size: 1.25rem;
    font-weight: 600 !important;
    padding: 1% 0;
}

.phone_no{
    font-size: 1.25rem;
    font-weight: 600 !important;
    padding: 1% 0;
}

.qna_section input[type="text"]{
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: .8rem .9rem;
    border-radius: 30px;
    border: 2px solid #8ab8d6 !important;  
    outline: none;/* 포커스시 발생하는 효과 제거를 원한다면 */ 
    -webkit-appearance: none;   /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
}
.qna_section input:focus{
    background: #8ab8d6;
    border: none !important;
    color: white;
}
.qna_section select{
    width: 100%;
    font-size: 1.25rem;
    padding: .8rem .9rem;
    line-height: 1.25rem;
    border-radius: 30px;
    border: 2px solid #8ab8d6 !important;
    /* -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     */
}
select::-ms-expand {
    display: none;
}
.qna_section select:focus{
    background: #8ab8d6;
    border: none !important;
    color: white;
}
.send_btn{
    padding-top: 2.5rem;
}
.send_btn button{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-size: 300% 100%;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
@media (max-width:767px){
    .m-pd40{
        padding: 40px;
    }
}
@media(max-width:580px){
    .qna_tit h1{
       font-size: 2rem;
    }
}
@media (max-width:320px){
    .send_btn button{
        /* background-size: 300% 100%; */
        margin: 0px;
    }
    .qna_tit h1{
        font-weight: 2rem !important;
    }
    
}
/* thankyou_message seection */
.btn_box{
    width: 100%;
    margin-top: 2.25rem;
    text-align: center;
}
.commbtn{
    width: 100%;
    font-size: 1.2rem;
    color: black;
}

.thankyou_message{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    display: none;
}
.thankyou_message section{
    width: 34.375rem;
    margin: 10% auto;
    padding: 4.25rem;
    border-radius: 0.133rem;
    background: #fff;

}
.thankyou_message section h1{
    color: #59c3c3;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #3c4147;
    text-align: center;
}
.thankyou_message section p{
    text-align: center;
    font-size: 1.1rem;
    color: black;
}

/* footer section */
.footer .logo-w img{
    width: 8%;
}


/* page 오시는길 css */
.pd-001{
    padding: 0 !important;
}
.main-banner{
    background-image: url(../images/roby.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 670px;
}
.overlaybg{
    width: 100%;
    height: 670px;
    background: #333;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translate(0,0);
}
.main-banner .absolute-text{
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box-deco{
    width: 4rem;
    height: 5px;
    background: #fff;
    transform: translate(220%,-300%);
}



.vehicle img{
    width: 100%;
}
.map-wrap #map{
    width: 100%;
}

