.g-0{
    margin: 0;
    padding: 0;
}
.pd-10{
    padding: 10% 0;
}

/* main_banner */
.img-box img{
  width: 100%;
}
.absolute-banner{
    width: 100%;
}

/* section_01 */

.subject_tit{
    width: 100%;
    padding: 0 0 10%;
}
.subject_tit img{
    width: 100%;
}
.subject_cur{
    width: 100%;
}
@media (max-width:991px){
    .subject_tit{
        max-width: 100%;
    }
}
.subject_cur img{
    width: 100%;
}

/* section_02 */

.grade_tit img{
    width: 100%;
    padding: 0 0 15%;
}
.grade_teach img{
    width:100%;
    padding-bottom: 5%;
}
.grade_teach{
    width: 100%;
    background: rgb(255, 255, 9);
    border-radius: 10px;
    padding: 5% 5% 0% 5%;
}

/* qna section */
