/* reset css */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important ;
    color: inherit !important;
}
/* reset css */
/* font source */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* font source */

/* header */
.logo{
    height: 50px;
}
.logo a{
    font-family: 'Pretendard-Regular';
    font-size: 1.3rem;
    line-height: 50px;
    display: block; 
}
.menu ul li a {
    font-family: 'Pretendard-Regular';
    font-size: 1.3rem;
    line-height: 50px;
    display: block;
}
.menu ul li:hover {
    color: blue;
}
.pd-none{
    padding-bottom: 0 !important;
}


/* header end */

/* section 01 */
.main-sec{
    width: 100%;
    position: relative;
}
.back-img{
    background-image: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 100vh;
}
.main-sec{
    width: 100%;
    position: relative;
    z-index: -99;
}
.text-img{
    position: absolute;
    flex-direction: column;
    z-index: 999;
   right: -50%;
   top: -50%;
}